.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-header {
  display: flex;
  max-width: 620px;
}

.column-flex {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.design-type-options {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
}

.primary-column {
  max-width: 315px;
}

.secondary-column {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 100px;
}

@media screen and (max-width: 768px) {
  .column-flex {
    flex-direction: column;
    width: 320px;
    justify-content: initial;
    gap: 20px;
    margin: auto;
  }

  .product-header {
    flex-direction: column;
    align-items: center;
  }

  .secondary-column {
    justify-content: initial;
    gap: 20px;
  }
}
